.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: inline;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-top: 30px;
}
.link {
    text-decoration: none;
    color: #ffffff;
}